<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <h1>Страница регистрации</h1>
  
  <form>
    <label for="password">Имя:</label>
    <input type="password" id="user_name" name="user_name">

    <label for="password">Фамилия:</label>
    <input type="password" id="user_surname" name="user_surname">

    <label for="username">Логин:</label>
    <input type="text" id="login" name="login">
    
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password">

    <label for="password">Подтверждение пароля:</label>
    <input type="password" id="password" name="password">
    
    <input type="submit" value="Зарегистрироваться">
  </form>
</body>
</html>
